@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Playfair Display";
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #222222;
  background: #ffffff;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: unset;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Mint Spirit";
  src: url("../fonts/mintspirit/MintSpirit-Italic.woff2") format("woff2"), url("../fonts/mintspirit/MintSpirit-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Mint Spirit";
  src: url("../fonts/mintspirit/MintSpirit-Bold.woff2") format("woff2"), url("../fonts/mintspirit/MintSpirit-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mint Spirit";
  src: url("../fonts/mintspirit/MintSpirit-BoldItalic.woff2") format("woff2"), url("../fonts/mintspirit/MintSpirit-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Mint Spirit";
  src: url("../fonts/mintspirit/MintSpirit-Regular.woff2") format("woff2"), url("../fonts/mintspirit/MintSpirit-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  background-color: #fafafa;
  font-family: "Mint Spirit";
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #0a192f;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.description {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.description__title {
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.5vw;
  color: #64ffda;
  text-transform: uppercase;
}
.description__control {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.description__button {
  padding: 5px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ccd6f6;
  color: #ccd6f6;
  cursor: pointer;
  background: transparent;
  transition: 0.5s;
}
.description__results-button:hover {
  color: #64ffda;
  border-color: #64ffda;
}
.description__help-button:hover {
  color: #64ffda;
  border-color: #64ffda;
}
.description__image {
  display: block;
  width: 100%;
  height: 100%;
  fill: currentColor;
}
.description__timer {
  margin: 20px auto;
  color: #ccd6f6;
  font-size: 3em;
}

.results {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #112240;
  overflow-y: scroll;
  overflow-x: hidden;
}
.results::-webkit-scrollbar {
  width: 1em;
}
.results::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.results::-webkit-scrollbar-thumb {
  background-color: #64ffda;
  outline: 1px solid slategrey;
}
.results__title {
  position: relative;
  text-align: center;
  font-size: 30px;
  color: #ccd6f6;
  letter-spacing: 0.5vw;
  margin: 20px 0;
  visibility: hidden;
}
.results__close {
  display: none;
  padding: 5px;
  position: absolute;
  top: 15px;
  right: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ccd6f6;
  cursor: pointer;
  color: #ccd6f6;
  transition: all 0.5s;
}
.results__close-image {
  display: block;
  width: 100%;
  height: 100%;
  fill: currentColor;
}
.results__close:hover {
  color: #64ffda;
  border-color: #64ffda;
}
.results__list {
  visibility: hidden;
  font-size: 20px;
  color: #ccd6f6;
  margin: 0 20px;
}
.results__item {
  margin-bottom: 5px;
}
.results__date {
  margin-right: 20px;
}

.main-button {
  width: 35%;
  height: 50px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: #0a192f;
  padding: 10px 5px;
  overflow: hidden;
  text-align: center;
  border: 2px solid #ccd6f6;
  margin: auto;
  transition: 0.5s;
}
.main-button__text {
  color: #ccd6f6;
  transition: 0.5s;
}
.main-button:hover {
  border-color: #64ffda;
}
.main-button:hover .main-button__text {
  font-size: 26px;
  color: #64ffda;
}

#stop-button {
  display: none;
}

.button__wrapper {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #112240;
  opacity: 0.9;
}

.field {
  position: relative;
  box-sizing: content-box;
  width: 500px;
  height: 500px;
  border: 5px #ccd6f6 solid;
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(5, 100px);
  background-color: #112240;
}
.field__cell {
  box-sizing: border-box;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  color: #ccd6f6;
  border: 1px solid #ccd6f6;
  cursor: pointer;
}
.field__cell {
  font-size: 4em;
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px 0 20px 0;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: #ccd6f6;
}
.footer__inner {
  height: 24px;
}
.footer__link {
  transition: all 0.5s;
}
.footer__link:hover {
  font-size: 16px;
  color: #64ffda;
}
.footer__image {
  width: 30px;
  height: 30px;
  fill: #ccd6f6;
}
.footer__copyright {
  margin: 10px 0;
}

.help {
  padding: 10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0) translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: #112240;
  border: 3px #ccd6f6 solid;
  transition: all 0.5s;
  overflow-y: scroll;
  overflow-x: hidden;
}
.help::-webkit-scrollbar {
  width: 1em;
}
.help::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.help::-webkit-scrollbar-thumb {
  background-color: #64ffda;
  outline: 1px solid slategrey;
}
.help__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  color: #ccd6f6;
  text-indent: 20px;
  text-align: left;
  text-decoration: underline;
}
.help__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  color: #ccd6f6;
  text-indent: 20px;
  text-align: left;
  margin-bottom: 20px;
}
.help__close {
  padding: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ccd6f6;
  cursor: pointer;
  color: #ccd6f6;
  z-index: 100;
}
.help__close-image {
  display: block;
  width: 100%;
  height: 100%;
  fill: currentColor;
}
.help__close:hover {
  color: #64ffda;
  border-color: #64ffda;
}

._active {
  opacity: 1;
  transform: scale(1) translate(-50%, -50%);
}

@media (max-width: 580px) {
  .field {
    width: 300px;
    height: 300px;
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(5, 60px);
  }
  .field__cell {
    font-size: 36px;
  }
  .help {
    padding: 5px;
    width: 300px;
    height: 300px;
  }
  .help__text {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .help__title {
    font-size: 22px;
  }
  .help__close {
    top: 5px;
    right: 10px;
  }
}
@media (max-width: 480px) {
  .description__title {
    font-size: 24px;
  }
  .main-button {
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
