@import './nullstyle.scss';

body {
  background-color: #fafafa;
  font-family: "Josefin Sans";
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #0a192f;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  margin-top: 30px;
  display: flex;
  flex-direction: column;

  &__title {
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.5vw;
    color: #ccd6f6;
  }

  &__control {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    padding: 5px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ccd6f6;
    color: #ccd6f6;
    cursor: pointer;
    background: transparent;
    transition: 0.5s;
  }

  &__results-button {
    &:hover {
      color: #64ffda;
      border-color: #64ffda;
    }
  }

  &__help-button {
    &:hover {
      color: #64ffda;
      border-color: #64ffda;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    fill: currentColor;
  }

  &__timer {
    margin: 20px auto;
    color: #ccd6f6;
    font-size: 3em;
  }
}

.results {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #112240;

  &__title {
    position: relative;
    text-align: center;
    font-size: 30px;
    color: #ccd6f6;
    letter-spacing: 0.5vw;
    margin: 20px 0;
    visibility: hidden;
  }

  &__close {
    display: none;
    padding: 5px;
    position: absolute;
    top: 15px;
    right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #ccd6f6;
    cursor: pointer;
    color: #ccd6f6;
    transition: all 0.5s;

    &-image {
      display: block;
      width: 100%;
      height: 100%;
      fill: currentColor;
    }

    &:hover {
      color: #64ffda;
      border-color: #64ffda;
    }
  }

  &__list {
    visibility: hidden;
    font-size: 24px;
    color: #ccd6f6;
    margin: 0 20px;
  }
}

.main-button {
  width: 30%;
  height: 50px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #0a192f;
  padding: 10px 5px;
  overflow: hidden;
  text-align: center;
  border: 2px solid #ccd6f6;
  margin: auto;
  transition: 0.5s;

  &__text {
    color: #ccd6f6;
    transition: 0.5s;
  }

  &:hover {
    border-color: #64ffda;

    .main-button__text {
      font-size: 26px;
      color: #64ffda;
    }
  }
}

#stop-button {
  display: none;
}

.button__wrapper {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #112240;
  opacity: 0.9;
}

.field {
  position: relative;
  box-sizing: border-box;
  width: 500px;
  height: 500px;
  border: 1px #ccd6f6 solid;
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(5, 100px);
  background-color: #112240;


  &__cell {
    box-sizing: border-box;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: #ccd6f6;
    border: 1px solid #ccd6f6;
    cursor: pointer;
    
  }

  &__cell {
    font-size: 4em;
  }
}

@media (max-width: 580px) {
  .field {
    width: 300px;
    height: 300px;
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(5, 60px);
  }

  .field__cell {
    font-size: 36px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px 0 20px 0;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: #ccd6f6;

  &__inner {
    height: 24px;
  }

  &__link {
    transition: all 0.5s;

    &:hover {
      font-size: 16px;
      color: #64ffda;
    }
  }

  &__image {
    width: 30px;
    height: 30px;
    fill: #ccd6f6;
  }

  &__copyright {
    margin: 10px 0;
  }
}